.todoBox {
  padding-left: 4%;
  padding-right: 4%;
}

.todoInfo {
  display: flex;
  flex-direction: column;
  margin-right: 70%;
  width: 35%;
}

.todoBoxes {
  display: flex;
  flex-direction: row;
}

.todoDetails {
  display: flex;
  flex-direction: row;
}

.newTodoDiv {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
}

.newTodoForm {
  display: flex;
  flex-direction: column;
}
